#content.blog{
    margin: 15px 0;
    @include clearfix;
    .post{
        margin-top: 25px;
        .title{
            display: block;
            background: $primary-color;
            @extend %transition;
            padding: 5px 8px;
            font-size: 20px;
            width: 100%;
            margin: 0;
            text-align: left;
            &, a{color: #FFF;}
            a{
                text-decoration: underline;
                &:hover{text-decoration: none;}
            }//a
        }//.title
        .excerpt p{margin: 0;}
        .post-meta{
            background: $secondary-color;
            padding: 3px 5px;
            margin-bottom: 3px;
            &, a{color: #333534;}
            a{
                text-decoration: underline;
                &:hover{text-decoration: none;}
            }//a
        }//.post-meta
    }//.post
    &.single{
        h1.entry-title{margin-bottom: 3px;}
        .post-meta{margin-bottom: 15px;}
    }//#content.blog.single
      @include respond(mobile){
        
      }
}//#content.blog