#content{
    @include clearfix;
    ul, ol{
        padding-left: 1.5em;
        margin-left: 1em;
    }
    ul{list-style: disc;}
    ol{list-style: decimal;}
    ol li, ul li{margin-bottom: 5px;}
    p, blockquote, pre, ul, ol, pre, code{margin-bottom: 25px;}
    code, pre{
        display: inline-block;
        padding: 10px;
        background: rgba(0,0,0,.07);
        color: #333;
        font-size: 0.8em;
    }
    h1, h2, h3, h4, h5, h6, .nap{margin-bottom: 15px;}
    h1, h2, h3{
        &, a{color: $primary-color;}
        line-height: 1.1em;
        font-weight: bold;
    }//h1, h2, h3
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }
    p{line-height: 1.5em;}
    a{
        text-decoration: underline;
        &:hover{text-decoration: none;}
    }//a
    h1, h2, h3, h4, h5, h6{
        a{
            text-decoration: none;
            &:hover{text-decoration: underline;}
        }
        @include respond(mobile){
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}//#content
