//EXTENDABLE CLASSES
%rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

%transition {
  -moz-transition: all 0.25s ease-in-out 0;
  -o-transition: all 0.25s ease-in-out 0;
  -webkit-transition: all 0.25s ease-in-out;
  -webkit-transition-delay: 0;
  transition: all 0.25s ease-in-out 0;
}

%text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

%box-shadow {
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
//MIXINS
@mixin clearfix(){zoom:1;&:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}}
@mixin flex-iframe(){position: relative;padding-top: 25px;padding-bottom: 67.5%;height: 0;margin-bottom: 16px;overflow: hidden;&.widescreen { padding-bottom: 57.25%; }&.vimeo { padding-top: 0; }iframe,object,embed,video {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}}
@mixin input-placeholder {&.placeholder { @content; }&:-moz-placeholder { @content; }&::-moz-placeholder { @content; }&:-ms-input-placeholder { @content; }&::-webkit-input-placeholder { @content; }}
@mixin flex-video-container {position: relative;padding-top: 25px;padding-bottom: 67.5%;height: 0;margin-bottom: 16px;overflow: hidden;&.widescreen { padding-bottom: 57.25%; }&.vimeo { padding-top: 0; }iframe,object,embed,video {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}}
//GLOBAL STYLES
body{
    font-family: 'Arial';
    font-size: 16px;
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}//body
.breakpoint{
    display: none;
    @include respond(mobile){content: "mobile";}
    @include respond(portrait){content: "portrait";}
    @include respond(landscape){content: "landscape";}
    @include respond(desktop){content: "desktop";}
}//.breakpont
.bold, strong{font-weight: bold;}
.flex{@include flex-iframe();}
#wrap, .inner{
    position: relative;
    @include clearfix;
    margin: 0 auto;
    width: $Desktop;
    @include respond(mobile){
        width: 100%;
        padding: 0 10px;
    }//mobile
}//.inner
.clear{clear: both;}
.left{float: left;}
.right{float: right;}
a {
  color: $primary-color;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

ul, ol {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  margin: 0;
  padding: 0;
}
ul.pagination {
    clear: both;
    margin: 10px;
    list-style: none;
    &, li{
      padding: 0;
      @include clearfix;
      display: block;
    }
    li{
      float: left;
      margin: 0 1em 0 0;
      background: $primary-color;
    }
    a, span{
      -moz-transition: background 0.25s ease-in-out 0;
      -o-transition: background 0.25s ease-in-out 0;
      -webkit-transition: background 0.25s ease-in-out;
      -webkit-transition-delay: 0;
      transition: background 0.25s ease-in-out 0;
      display: block;
      padding: 0.25em 0.5em;
      text-decoration: none;
      color: #fff;
      &.current{background: $primary-color;}
    }//a, span
    a:hover{background: $primary-color;}
}//ul.pagination