/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

img.alignright, img.alignleft, img.aligncenter {
  border: 5px solid white;
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  position: relative;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

img.no-border{border: none;-moz-box-shadow:  0 0 0px rgba(#333, 1);-webkit-box-shadow:  0 0 0px rgba(#333, 1);box-shadow:  0 0 0px rgba(#333, 1);}

@include respond(portrait-down){
    .alignnone ,.aligncenter,,div.aligncenter ,.alignright ,.alignleft ,.aligncenter ,a img.alignright ,a img.alignnone ,a img.alignleft ,a img.aligncenter ,.wp-caption ,.wp-caption.alignnone ,.wp-caption.alignleft ,.wp-caption.alignright ,.wp-caption img ,.wp-caption p.wp-caption-text{
        clear: both;
        display: block;
        float: none;
        margin: 25px auto;
        text-align: center;
    }
}//portrait-down