//BREAKPOINTS
$Mobile: 320px;
$Landscape: 801px;
$Desktop: 1025px;

//COLORS
$primary-color: #333;
$secondary-color: #e3e3e3;

//IMPORTS
@import
"_reset.scss",
"_media-queries.scss",
"_global.scss",
"_wordpress.scss",
"_content.scss",
"_blog.scss";